#sortable { list-style-type: none; margin: 0; padding: 0; width: 100vw; }
#sortable li { margin: 3px 3px 3px 1; padding: 1px; width: 150px; float: left; height: 150px; font-size: 1em; text-align: center; background-color: #2184cd  }
body { background-color: grey; }

.flip {
    word-break:break-all;
    margin: 0 auto;
    background-color: lightblue;
}
.flip img {
    width: auto;
    height: auto;
}
.flip .back {
    background: #2184cd;
    color: #fff;
    text-align: center;
}


