#sortable { list-style-type: none; margin: 1px; padding: 0; width: 60%vw; }
#sortable li { padding: 1px; width: 159px; float: left; height: 159px; font-size: 1em; text-align: center; background-color: rgba(238, 205, 115, 1);  }

::-moz-selection {
  background: #C6FF91;
  text-shadow: none;
}

::selection {
  background: #C6FF91;
  text-shadow: none;
}

header a {color: black;}
header a:visited {text-decoration: none}
header a:active {text-decoration: none}
header a:hover {text-decoration: underline}
header a:link {
    background-color: transparent;
    text-decoration: none;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

body {
  background: url(https://i.imgur.com/2BdQt0g.jpg);
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('../image/not.jpg');
  background-size: cover;
  height: 300px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}
.jumbotron h2 {
  font-size: 60px;::-moz-selection {
  background: #C6FF91;
  text-shadow: none;
}

::selection {
  background: #C6FF91;
  text-shadow: none;
}
  font-weight: 700;
  margin: 0;
}

.jumbotron h3 {
  margin: 0 0 20px;
}

.flip {
    word-break:break-all;
    margin: 0 auto;
    background-color: rgba(218, 165, 32, 0.8);
}

.flip img {
    width: auto;
    height: auto;
}

.flip .back {
    background: #2184cd;
    color: #fff;
    text-align: center;
}

.noteform {
    width: 100%;
    margint-left: auto;
    margin-right: auto;
}

#id_text {
    width: 95%;
    height:250px;
}
.topcorner {
  position:relative;
  background-color: black;
}

.ribbon {
  width:20px;
  height:20px;
  position:absolute;
  top:0;
  right:0;
}
.left-corn {
  width:20px;
  height:20px;
  position:absolute;
  top:0;
  left:0px;
}