#sortable { list-style-type: none; margin: 0; padding: 0; width: 60vw; }
#sortable li { margin: 3px 3px 3px 1; padding: 1px; width: 150px; float: left; height: 150px; font-size: 1em; text-align: center; background-color: #2184cd  }

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('../image/not.jpg');
  background-size: cover;
  height: 300px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}
.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
}

.jumbotron h3 {
  margin: 0 0 20px;
}

.flip {
    word-break:break-all;
    margin: 0 auto;
    background-color: lightblue;
}
.flip img {
    width: auto;
    height: auto;
}
.flip .back {
    background: #2184cd;
    color: #fff;
    text-align: center;
}


footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}