<!DOCTYPE html>
    <html>
        <head>
            <title>Notes</title>

            <link rel="stylesheet" type="text/css" href="static/css/style.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
            <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>

        </head>

        <body>
        <header class="container">
           <div class="row">
           <h1 class="col-sm-8"><a href="/">Note</a></h1>
           </div>
        </header>
        <section class="jumbotron">
          <div class="container">
               <div class="row text-center">
            <h2>Your private notebook</h2>
              <h3>Let's make some notes</h3>
              <a class="btn btn-primary" href="/add_note" role="button">Add note</a>
            </div>
          </div>
        </section>
        {% block content %}
        {% endblock %}

        <script src="static/js/note.js" charset="utf-8"></script>
        </body>
</html>