{% extends 'base.html' %}
{% block content %}
{% load static %}
<section class="container">
    <div class="row">
        <figure class="col-sm-6">
        <h2>Create note</h2>
        <form action="/add_note" method="post" class="noteform">
            {% csrf_token %}
            {{ note.text }}
            {{ form.as_p }}
            <button type="submit">Save</button>
        </form>
        </figure>
    </div>
<script src="{% static "js/counter2.js" %}"></script>
</section>

{% endblock %}