<!DOCTYPE html>
    <html>
        <head>
            <title>Notes</title>
            <link rel="stylesheet" type="text/css" href="static/css/style.css">
            <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
            <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script>
              $( function() {
                $( "#sortable" ).sortable();
                $( "#sortable" ).disableSelection();
              } );
            </script>
            <script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>
            <script>
                $(function(){
                    $(".flip").flip({
                        trigger: 'click',
                        axis: 'x'
                    });
                });
            </script>
        </head>

        <body>

            <h2>Notes</h2>
            <ul id="sortable">
                {% for note in notes %}
                <li class="ui-state-default">
                    <div class="flip">
                        <div class="front">
                            {{ note.text }}
                        </div>
                        <div class="back">
                            <h3>Some Text</h3>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <form action='#' method='POST' >
                {% csrf_token %}
                {{ form.as_p }}
                <input type='submit' value='Dodaj notatkę'>
            </form>
        </body>
</html>