{% extends 'base.html' %}

{% block content %}
        <section class="container">

            <ul id="sortable">
                {% for note in notes %}
                <li class="ui-state-default">
                    <div class="topcorner">
                        <a href="/">
                            <img src="static/image/edit.png" class ="ribbon"/>
                        </a>
                    </div>
                    <div class="flip">
                        <div class="front">
                            {{ note.text }}
                        </div>
                        <div class="back">
                            <h3>{{ note.id }}</h3>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <form action='#' method='POST' >
                {% csrf_token %}
                {{ form.as_p }}
            </form>

        </section>

{% endblock %}